// wifi
#define WIFI_SSID "wifi network"
#define WIFI_PASS "wifi network pass"

// telegram
#define TELEGRAM_TOKEN "telegram token from @BotFather"

/*
Request:
https://api.telegram.org/bot<TELEGRAM_TOKEN>/getUpdates (Before execute http request you should send at least one message to bot)

Response:
...
"chat": {
    "id": <CHAT_ID>,
    "first_name": "...",
    "username": "...",
    "type": "private"
}
...
*/ 
#define TELEGRAM_CHAT "CHAT_ID"